.avatar{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 20px auto 30px;
  display: block;
  box-shadow: 0px 0px 20px #0003;
  //border: 1px solid #28a745;
}

.sidebar-nav{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: #000;
  font-size: 16px;
  border: none;
  text-align: left;
  //transition: color 0.3s ease;
  display: inline-block;
  margin: 10px 15px;
  text-decoration: none;
  border: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

  &:hover {
    color: #28a745 ;
    transition: color 0.3s ease;

  }
}

.active {
  color: #28a745 ;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #28a745;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: color 0.3s ease;

  }
}