.main-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: rgb(240, 240, 240);
}

.left-bar {
  height: 100vh;
  grid-area: 2 / 2 / 3 / 1;
  padding: 0 5px 0;
  margin-top: 20px;

}


.header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
  border-bottom: 1px solid #28a745 ;
    &-logo{
    width: 50px;
      height: 50px;
    }

    &-title{
        color: #28a745;
        margin: 0;
    }

}

.main-block {
  //grid-area: 2 / 2 / 3 / 3;
  background-color: rgb(241, 245, 248);
  overflow-y: auto;
}

//.main-display {
//    max-height: calc(100% - 40px);
//    width: 100%;
//    background-color: rgb(241, 245, 248);
//    padding: 10px;
//}