.main-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: rgb(240, 240, 240);
}

.side-bar {
    grid-area: 1 / 1 / 3 / 2;
    padding: 2px 5px;
}

.side-bar h3 {
    margin-top: 50px;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
}

.main-block {
    background-color: rgb(241, 245, 248);
    overflow-y: auto;
}

.main-display {
    max-height: calc(100% - 40px);
    width: 100%;
    background-color: rgb(241, 245, 248);
    padding: 10px;
}


