.leftBar {
  width: 200px;
  transition: width 0.5s ease;
  position: relative;
  grid-area: 2 / 2 / 3 / 1;
  padding: 20px 5px 0;
  font-weight: bold;
  box-shadow: -2px 8px 16px 0px #171717;
  z-index: 2;

  &Hide{
    width: 0;
    padding: 0;
  }

  &Btn{
    position: absolute;
    top: 25px;
    right: -55px;
    height: 40px;
    width: 40px;
    border: 1px solid #28a745;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 0;
    box-shadow: 0 0 8px 0 #7c8487;

    &:hover{
      background-color: #28a745;
      transition: top 1s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &Shell{
      position: relative;
    }
    &Arrow{
      height: 15px;
      width: 15px;
      border-top: 3px solid black;
      border-right: 3px solid black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -50%) rotate(-135deg);
      transition: top 0.5s cubic-bezier(0.4, 0, 0.2, 1);

      &Rotate{
        transform: translate(-72%, -50%) rotate(45deg);
      }
    }
  }
}