@use './global';
@use './mixins';
@use './variables';
@use "./_custom-bootstrap";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, div, span, a, p, img, input, button, ul, li, h1, h2, h3, h4, h5, h6, form, label, section, nav, footer, header, main, textarea, table, tr, td, th, article, strong, em, script, link, meta, br, hr, video, audio, canvas, svg, details, summary, figure, figcaption {
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
}

h1, h2, h3, h4, h5, h6{
  //font-weight: bold;
}

*{
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

